<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Informations générales</h5>

                <!-- General Form Elements -->
                <form name="user" class="row g-3" method="post">
                    {{ form_row(form._token) }}
                    <div class="col-lg-4">
                        <div class="form-floating">
                            <input type="text" id="user_name" placeholder="Nom" name="user[name]" class="form-control" required>
                            <label for="user_name">Nom</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating">
                            <input type="text" id="user_firstname" placeholder="Prénom(s)" name="user[firstname]" class="form-control" required>
                            <label for="user_firstname">Prénom(s)</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-floating">
                            <input type="text" id="user_email" placeholder="Email" name="user[email]" class="form-control" required>
                            <label for="user_email">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                    </div>
                </form><!-- End General Form Elements -->

            </div>
        </div>

    </div>
</div>