<li class="nav-item pe-4" style="position: absolute; bottom: 0;">
    <a class="nav-link collapsed{% if vir + ppex > 0 %} bg-danger{% endif %} text-white" style="font-size: 13px;">
        <span>Virements / PPEX en attente : <strong>{{ vir }}</strong> / <strong>{{ ppex }}</strong></span>
    </a>
    <a class="nav-link collapsed" style="font-size: 13px;">
        <span>Vendu / En stock :<br/><strong>{{ vendu }}</strong> / <strong>{{ reel }}</strong></span>
    </a>
</li>