<footer class="p-5 pt-0 mt-auto">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <div class="footer-bfm">
                    <div class="footer-wrapper-logo">
                        <a href="https://www.banky-foibe.mg/" target="_blank"><img src="{{ asset('img/BFM50LOGOFINAL-01.png') }}" alt="BFM" class="footer-logo"></a>
                    </div>

                    <div class="wrapper-address my-auto ms-4">
                        <div class="row">
                            <div class="col-12 text-gold">
                                <h2 class="footer-adress">Adresse</h2>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-12">
                                <h5 class="text-grey footer-adress">BP. 550 Antananarivo (101) - Madagasikara</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-grey footer-adress">(261) 20 22 217 51 / 20 22 234 65</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-between lienFooter">
                    <a href="{{ path('app_more') }}" class="text-grey"><h4 class="lien-h4">En savoir plus</h4></a>
                    <a href="{{ path('app_cgv') }}" class="text-grey"><h4 class="lien-h4">Conditions de Vente</h4></a>
                    <a href="{{ path('app_faq') }}" class="text-grey"><h4 class="lien-h4">FAQ</h4></a>
                </div>
            </div>
        </div>
    </div>
</footer>
