<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mail_code_livraison</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
</head>
<body>
    <div class="body">
        <div style=" height: 100vh;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;width: 600px !important; padding-left: 0 !important;padding-right: 0 !important; padding-top: 3rem !important;">
            <div>
                <p>Objet : &lt;selon étape &gt;</p>
                <p>{{ civility[user.civility] }} {{ user.name }} {{ user.firstname }},</p>
                <p>Bonjour,</p>
                <p>&lt;Contexte paiment - livraison - virement refusé.&gt;</p>
                <P>Votre code de confirmation &lt; code &gt;. </P>
                <p>Il vous est demandé de &lt;<a href="#">lien de redirection vers l'application</a>&gt;</p>
                <p>Cordialement,</p>
                <img src="https://pieces-monnaies-or-50.bfm.mg/img/ban_mail.png" alt="BFM">
            </div>
        </div>
    </div>
</body>
</html>